/*General*/
*{
    margin: 0;
    background-color: #0a192f;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

body{
    background-color: #0a192f;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    color: #CCD6F6;
}

a{
    color: white;
    text-decoration: none;
}

/*Social Network*/

.social-network{
    position: fixed;
    top: 85%;
    left: 94%;
}

.social-network ul{
    list-style: none;
}

.social-network ul li{
    margin: 0.4rem;
}

.social-network ul li i{
    color: #CCD6F6;
    font-size: 1.5rem;
}

.social-network ul li i:hover{
    color: #21c7ffa6;
    transition: 0.18s;
}

/*Navbar*/

.navbar{
    margin-right: 20px;
    position: fixed;
    left: 66%; /*68 withouth /*/
}

.nav-link{
    color: #21c7ffa6;
}

.nav-link:hover{
    color: #21C8FF;
}

/*Home*/

.title{
    padding-top: 2.5rem;
    padding-left: 10.5rem;
}

.title image{
    height: 25px;
    width: 30px;
}

.title h1{
    color: #CCD6F6;
    font-size: 7.5rem;
}

.title strong{
    color: #21C8FF;
}

/* extension */
html.sr .widget {
    visibility: hidden;
  }


/*Content*/

.content{
    padding-left: 10.5rem;
    padding-top: 9.5rem;
}

.section-header {
    display: flex;
    padding-bottom: 42px;
    width: 100vw;
}

.section-title {
    font-family: "NTR",sans-serif;
    color: var(--lightest-slate);
    font-size: 38px;
    font-weight: 700;
}

.section-header:after {
    content: "";
    display: block;
    width: 300px;
    margin-top: 39px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
}

.about-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

/*Proyects*/
element.style {
    transition-delay: 100ms;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3,minmax(300px,1fr));
    grid-gap: 10px;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(10vh);
    visibility: hidden;
    transition: opacity .6s ease-out,transform 1s ease-out;
    will-change: opacity,visibility;
}

.projects-card {
    cursor: default;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding: 2rem 1.75rem;
    background-color: #122b50;
    border-radius: 16px;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

svg, .github-icon{
    height: 50px;
    width: 50px;
    background-color: #122b50;
    background: #21C8FF;
}

.folder-icon, .card-title, .card-desc, .card-tech{
    background-color: #122b50;
}
